---
# Создается ClusterRole, который предоставляет права доступа к метрикам через API группы metrics.k8s.io
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: system:aggregated-metrics-reader
  labels:
    rbac.authorization.k8s.io/aggregate-to-view: "true"
    rbac.authorization.k8s.io/aggregate-to-edit: "true"
    rbac.authorization.k8s.io/aggregate-to-admin: "true"
# Разрешение на чтение (get, list, watch) метрик для ресурсов pods и nodes
rules:
- apiGroups: ["metrics.k8s.io"]
  resources: ["pods", "nodes"]
  verbs: ["get", "list", "watch"]
---
# Этот ServiceAccount будет использоваться для управления правами доступа Metrics Server к API Kubernetes
apiVersion: v1
kind: ServiceAccount
metadata:
  name: metrics-server
  namespace: kube-system
---
# Привязывает роль extension-apiserver-authentication-reader к ServiceAccount metrics-server.
# Эта роль позволяет Metrics Server читать конфигурацию аутентификации API-сервера (например, CA-сертификаты).
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: metrics-server-auth-reader
  namespace: kube-system
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: Role
  name: extension-apiserver-authentication-reader
subjects:
  - kind: ServiceAccount
    name: metrics-server
    namespace: kube-system
---
# Привязывает ClusterRole system:auth-delegator к ServiceAccount metrics-server
# Эта роль позволяет Metrics Server делегировать аутентификацию и авторизацию запросов к API-серверу.
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: metrics-server:system:auth-delegator
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: system:auth-delegator
subjects:
  - kind: ServiceAccount
    name: metrics-server
    namespace: kube-system
---
# Создается ClusterRole, который предоставляет права доступа Metrics Server к ресурсам Kubernetes:
# Чтение метрик с узлов (nodes/metrics); Чтение информации о подах и узлах (pods, nodes).
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: system:metrics-server
rules:
  - apiGroups: [""]
    resources:
      - nodes/metrics
    verbs:
      - get
  - apiGroups: [""]
    resources:
      - pods
      - nodes
    verbs:
      - get
      - list
      - watch
---
# Привязывает ClusterRole system:metrics-server к ServiceAccount metrics-server
# Это позволяет Metrics Server выполнять действия, разрешенные в ClusterRole
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: system:metrics-server
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: system:metrics-server
subjects:
  - kind: ServiceAccount
    name: metrics-server
    namespace: kube-system
---
# Создается Service , который предоставляет доступ к Metrics Server.
# Трафик направляется на порт https (443) подов, помеченных меткой k8s-app=metrics-server
apiVersion: v1
kind: Service
metadata:
  labels:
    k8s-app: metrics-server
  name: metrics-server
  namespace: kube-system
spec:
  ports:
  - name: https
    port: 443
    protocol: TCP
    targetPort: https
  selector:
    k8s-app: metrics-server
---
# Deployment для запуска Metrics Server
apiVersion: apps/v1
kind: Deployment
metadata:
  name: metrics-server
  namespace: kube-system
spec:
  strategy:
    rollingUpdate:
      # чтобы избежать простоя
      maxUnavailable: 0
  selector:
    matchLabels:
      k8s-app: metrics-server
  template:
    metadata:
      labels:
        k8s-app: metrics-server
    spec:
      serviceAccountName: metrics-server
      volumes:
      # mount in tmp so we can safely use from-scratch images and/or read-only containers
      - name: tmp-dir
        emptyDir: {}
      priorityClassName: system-cluster-critical
      containers:
      - name: metrics-server
        image: "{{ metricsServerImage }}"
        imagePullPolicy: IfNotPresent
        args:
          # Указывает директорию для хранения сертификатов
          - --cert-dir=/tmp
          # Порт для безопасного соединения
          - --secure-port=10250
          # Предпочтительные типы адресов для связи с kubelet
          - --kubelet-preferred-address-types=InternalIP,ExternalIP,Hostname
          # Использовать порт, указанный в статусе узла
          - --kubelet-use-node-status-port
          # Интервал сбора метрик
          - --metric-resolution=15s
          # Отключение проверки TLS для kubelet.
          - --kubelet-insecure-tls
        resources:
          requests:
            cpu: 100m
            memory: 200Mi
        ports:
        - name: https
          containerPort: 10250
          protocol: TCP
        readinessProbe:
          httpGet:
            # Проверяет готовность сервера через /readyz
            path: /readyz
            port: https
            scheme: HTTPS
          periodSeconds: 10
          failureThreshold: 3
          initialDelaySeconds: 20
        livenessProbe:
          httpGet:
            # Проверяет работоспособность через /livez
            path: /livez
            port: https
            scheme: HTTPS
          periodSeconds: 10
          failureThreshold: 3
        securityContext:
          # Только чтение файловой системы
          readOnlyRootFilesystem: true
          # Запуск от имени непривилегированного пользователя
          runAsNonRoot: true
          runAsUser: 1000
          # Отключение привилегий и ограничение возможностей контейнера
          allowPrivilegeEscalation: false
          seccompProfile:
            type: RuntimeDefault
          capabilities:
            drop:
              - ALL
        volumeMounts:
        - name: tmp-dir
          mountPath: /tmp
      nodeSelector:
        # Запуск только на Linux-узлах
        kubernetes.io/os: linux
---
# Регистрирует Metrics Server как API-сервис в Kubernetes
# API группы metrics.k8s.io становится доступным через сервис metrics-server в пространстве имен kube-system
apiVersion: apiregistration.k8s.io/v1
kind: APIService
metadata:
  name: v1beta1.metrics.k8s.io
spec:
  service:
    name: metrics-server
    namespace: kube-system
  group: metrics.k8s.io
  version: v1beta1
  insecureSkipTLSVerify: true
  # Приоритеты (groupPriorityMinimum, versionPriority) определяют, как этот API будет взаимодействовать с другими API.
  groupPriorityMinimum: 100
  versionPriority: 100
