global
    chroot      /var/lib/haproxy            # Ограничивает рабочую директорию HAProxy для повышения безопасности
    pidfile     /var/run/haproxy.pid        # путь к файлу PID
    maxconn     4000                        # максимальное количество одновременных подключений
    user        haproxy                     # Запускает HAProxy от имени пользователя и группы haprox
    group       haproxy
    daemon                                  # Запускает HAProxy в фоновом режиме

defaults
    log     global                          # Использует глобальные настройки логирования
    mode    tcp                             # Режим работы — TCP
    retries 2                               # Кол-во попыток повторного подключения к серверу в случае сбоя
    timeout client 30m                      # Таймаут для клиентских соединений
    timeout connect 4s                      # Таймаут на установку соединения с сервером
    timeout server 30m                      # Таймаут для соединений с сервером
    timeout check 5s                        # Таймаут для проверки доступности сервера

# HAProxy слушает входящие запросы на IP-адрес
frontend main
    bind {{ ha_cluster_virtual_ip }}:{{ ha_cluster_virtual_port }}
    default_backend             app         # Все входящие запросы направляются в бэкенд с именем app

# Задает алгоритм балансировки нагрузки — "round-robin" (по очереди между серверами)
backend app
    balance     roundrobin

{% for server in groups['k8s_masters'] %}
    server {{ hostvars[server]['ansible_facts'].hostname }} {{ hostvars[server]['ansible_host'] }}:6443 check
{% endfor %}


listen stats # Define a listen section called "stats"
    bind *:9000                         # Открывает доступ к статистике HAProxy на порту 9000
    mode http                           # Режим работы — HTTP
    stats enable                        # Включает страницу статистики
    stats hide-version                  # Скрывает версию HAProxy на странице статистики
    stats realm Haproxy\ Statistics     # Заголовок для диалогового окна аутентификации
    stats uri /haproxy_stats            # URL для доступа к статистике
